<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nexmo-API</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">

</head>
<body>

<h1 class="text-center">Nexmo</h1>

<div class="main-sec">
<input type="text" class="form-control input-lg" name="SMS" placeholder="Message Here" required><br><br>
<input type="tel" class="form-control input-lg" name="Number"  placeholder="Number Here" required>
<br><br>
<button class="btn btn-danger btn-lg btn-block" type="submit">SEND MESSAGE</button>
</div>

<script src="js/app.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>